.grid {
  display: flex;
  width: 100%;
  justify-content: center;
}

.grid__container {
  width: 100%;
  display: flex;
  max-width: 60em;
  flex-flow: wrap;
  justify-content: space-around;
}

.grid__cell {
  transition: background-color 500ms ease;
  display: flex;
  align-items: center;
}

.grid__cell-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid__cell-content {
  display: flex;
}

.grid__cell-content.is-hovered .grid__cell-icon {
  margin-right: 1em;
}

.grid__cell-content.is-hovered .grid__cell-label {
  opacity: 1;
  max-width: 10em;
}

.grid__cell-icon {
  margin: 0;
  transition: all 500ms ease;
}

.grid__cell-label {
  margin-top: .5em;
  max-width: 0em;
  opacity: 0;
  transition: all 500ms ease;
}
