meta(name='robots', content='noindex')
link(type='text/css', rel='stylesheet', href='styles/stylesheet.css')
link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Dosis:300,400,600,700', rel='stylesheet', type='text/css')
link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")  
script(src="scripts/weekUpdates.js")
script(src="scripts/loadData.js")
