.about__profile {
  display: block;
  margin-top: .8em;
  transition: all 500ms ease;
}

@media only screen and (min-width: 64em) {
  .about__profile {
    width: 26%;
    position: fixed;
    /*top: 0;*/
    /*margin-top: 4.8em;*/
  }
}

@media only screen and (min-width: 75em) {
  .about__profile {
    width: 20%;
    max-width: 12em;
  }
}

.about__profile-img{
  width: 100%;
  padding: 1em;
  border-radius: 50%;
}

.about__connect {
  height: 100%;
  display: flex;
  padding-top: 1.5em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__connect-icons {
  font-size: .5em;
  width: 100%;
  display: flex;
  margin: 4em 0em;
  justify-content: space-between;
}

.about__connect-icon {
  cursor: pointer;
}
