.app {
  overflow: hidden;
}
.app__container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: lightblue;
}

.app__content {
  flex: 1;
  display: flex;
  justify-content: center;
}

