.app {
  overflow: hidden;
}
.app__container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app__content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
