.card {
  position: relative;
  display: flex;
  background: white;
  overflow: hidden;
  transition: box-shadow 350ms ease;
  box-shadow: 0 0.2em .4em -0.2em rgba(0, 0, 0, 0.3)
}

.card:not(.is-disabled):hover {
  cursor: pointer;
  box-shadow: 0 0.2em 0.4em 0em rgba(0, 0, 0, .3);
}

.card:not(.is-disabled):hover .card__photo:after {
  transform: translateX(0%);
}

.card + .card {
  margin-top: 1em;
}

.card.is-disabled .card__photo {
  background: #cccccc
}

.card__photo {
  flex-basis: 20%;
  background-color: #56E39F;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.card__photo:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute; /* Adding this caused a flicker on the card text in Safari */
  background: rgba(0,0,0,.1);
  transform: translateX(-100%);
  transition: transform 500ms ease;
  transition-delay: 350ms;
}

.card__content {
  flex-basis: 80%;
  position: relative;
  z-index: 0;
  padding: 1em;
}

.card__content:before {
  transform: skewX(-5deg);
  content: '';
  background: #fff;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
}
