.cube {
  display: inline-flex;
  vertical-align: bottom;
  width: 8.4em;
  height: 1em;
  position: relative;
  perspective: 55.555555556em;
}

.cube__container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ( -.6em );
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cube__side {
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  transition: opacity 500ms ease;
}

.cube__side.is-active {
  opacity: 1;
}

.cube__side.side-front  { transform: rotateX(   0deg ) translateZ( .6em ); }
.cube__side.side-top    { transform: rotateX(  90deg ) translateZ( .6em ); }
.cube__side.side-back   { transform: rotateX( 180deg ) translateZ( .6em ); }
.cube__side.side-bottom { transform: rotateX( -90deg ) translateZ( .6em ); }
