@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: italic;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 800;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 800;
  font-style: italic;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: italic;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 100;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 100;
  font-style: italic;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: italic;
  src: url('../Assets/Fonts/Open_Sans/OpenSans-SemiboldItalic.ttf');
}

@font-face {
  font-family: 'RobotoSlab';
  font-weight: 600;
  src: url('../Assets/Fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
}


@font-face {
  font-family: 'RobotoSlab';
  font-weight: 100;
  src: url('../Assets/Fonts/Roboto_Slab/RobotoSlab-Light.ttf');
}


@font-face {
  font-family: 'RobotoSlab';
  font-weight: 400;
  src: url('../Assets/Fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}


@font-face {
  font-family: 'RobotoSlab';
  font-weight: 200;
  src: url('../Assets/Fonts/Roboto_Slab/RobotoSlab-Thin.ttf');
}
