.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.header__content {
  filter: invert(100%);
  width: 100%;
  display: flex;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
}

.header__label {
  padding: 1em;
  transition: padding 300ms ease;
}

@media only screen and (max-width: 48em) {
  .header__label {
    font-size: .7em;
  }
  .app:not(.at-root) .header__label {
    padding-left: 4em;
  }
}

.header__back-icon {
  z-index: 1;
  font-size: .35em;
  display: flex;
  height: 100%;
  padding: 0em 3em;
  position: absolute;
  transition: opacity 250ms ease;
}
