.masonry {
  display: flex;
  width: 100%;
  justify-content: center;
}

.masonry__container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.masonry__cell {
  transition: background-color 500ms ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.masonry__cell:first-of-type {
  box-shadow: initial;
}

.masonry__cell-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.masonry__cell-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.masonry__cell-label {
  margin: 1em auto 0 auto;
  padding-left: 0;
  user-select: none;
  transition: opacity 500ms ease,
              max-width 500ms ease;
}

@media only screen and (max-width: 48em) {
  .masonry__cell {
    font-size: .8em;
  }

  .masonry__cell-icon {
    font-size: .8em
  }
}
