.masonry {
  display: flex;
  width: 100%;
  justify-content: center;
}

.masonry__container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.masonry__cell {
  transition: background-color 500ms ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0.4em 0.4em 0.6em 0em rgba(0,0,0,0.24);
}

.masonry__cell:first-of-type {
  box-shadow: initial;
}

.masonry__cell-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.masonry__cell-content {
  display: flex;
  align-items: center;
}

.masonry__cell-content.is-hovered .masonry__cell-label {
  opacity: 1;
  max-width: 10em;
}

.masonry__cell-label {
  opacity: 0;
  max-width: 0em;
  user-select: none;
  padding-left: 1em;
  margin-right: -2em;
  transition: opacity 500ms ease,
              max-width 500ms ease;
}

@media only screen and (max-width: 48em) {
  .masonry__cell {
    font-size: .8em;
  }

  .masonry__cell-icon {
    font-size: .8em
  }

  .masonry__cell-label {
    opacity: 1;
    margin: 1em auto 0 auto;
    padding-left: 0;
    max-width: initial;
  }

  .masonry__cell-content {
    flex-direction: column;
    align-items: center;
  }
}
