.masonry {
  display: flex;
  width: 100%;
  justify-content: center;
}

.masonry__container {
  width: 100%;
  display: flex;
  max-width: 60em;
  flex-flow: wrap;
  justify-content: space-around;
}

.masonry__cell {
  transition: background-color 500ms ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset .2em .2em .89em 0em rgba(0,0,0,0.24);
}

.masonry__cell:first-of-type {
  box-shadow: initial;
}

.masonry__cell-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.masonry__cell-content {
  display: flex;
  /*flex-direction: column;
  align-items: center;
  border: 2px solid green;*/
}

.masonry__cell-content.is-hovered .masonry__cell-icon {
  margin-right: 1em;
}

.masonry__cell-content.is-hovered .masonry__cell-label {
  opacity: 1;
  max-width: 10em;
}

.masonry__cell-icon {
  transition: all 500ms ease;
}

.masonry__cell-label {
  opacity: 0;
  max-width: 0em;
  margin-top: .5em;
  user-select: none;
  transition: all 500ms ease;
}
