.medium-feed-item {

}

.medium-feed-image {
  overflow: hidden;
}

.medium-feed-image img {
  width: 100%;
  transform: scale(1.05);
  transition: transform 1s ease;
}

.medium-feed-image:hover img {
  transform: scale(1.25);
}

.medium-feed-snippet {

}

.medium-feed-link {

}
