.photos {
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: .5em 0em;
  position: absolute;
  background: black;
  justify-content: center;
}

.photos .photos__photo {
  border: 1em solid transparent;
  border-top: none;
}

.photos .photos__photo:first-of-type {
  border-top: 1em solid transparent;
}

.photos__photo img {
  max-width: 100%;
  max-height: 90vh;
}
