.photos {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0em;
  position: relative;
  background: black;
}

.photos .photos__photo {
  width: 100%;
  border: .5em solid transparent;
  border-top: none;
}

.photos .photos__photo:first-of-type {
  border-top: .5em solid transparent;
}

.photos__photo img {
  width: 100%;
}
