.screen {
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen__row {
  display: flex;
  background: black;
}

.screen__row-pixel {
  background: #2B2D34;
  height: 3vw;
  width: 3vw;
  margin: 1px;
  border-radius: 50%;
}

.screen__row-pixel.isOn{
  background: #5DA2D1;
}
