.screen {
  background: red;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
}

.screen__row {
  background: grey;
  margin: 1px;
  display: flex;
}

.screen__row-pixel {
  margin: 1px;
  background: blue;
  height: 3vw;
  width: 3vw
}
