.screen {
  display: flex;
  flex-direction: column;
}

.screen__row {
  display: flex;
  background: black;
}

.screen__row-pixel {
  background: #2B2D34;
  height: 1vw;
  width: 1vw;
  margin: 1px;
  border-radius: 50%;
}

.screen__row-pixel.isOn{
  background: #5DA2D1;
}

.screen__input {
  text-align: center;
  margin: 4em;
  font-size: 2em;
}
