
.slide-pages {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  justify-content: center;
}

.transition-appear {
  /*opacity: 0;*/
  z-index: 2;
  transform: translate3d(100%, 0, 0);
}

.transition-appear.transition-appear-active {
  /*opacity: 1;*/
  z-index: 2;
  transform: translate3d(0, 0, 0);
}
.transition-leave {
  /*opacity: 1;*/
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.transition-leave.transition-leave-active {
  /*opacity: 0;*/
  z-index: 1;
  transform: translate3d(100%, 0, 0);
}


